body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed; /* Fixed positioning for the navbar */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #f51010;
  position: relative;
  transition: opacity 0.3s, transform 0.3s;
}

#navbar li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s, transform 0.3s;
  border-radius: 4px;
  z-index: -1;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  /* Media query for screens with a maximum width of 768px */
  nav {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start (left) on small screens */
    padding: 20px;
  }

  #navbar {
    width: 100%;
    justify-content: flex-start; /* Align items to the start (left) on small screens */
  }

  #navbar li {
    padding: 10px 20px;
  }

  nav.nav-active {
    background-color: #ffffff; /* Adjust the background color for the active state on small screens */
  }
}
